nav {
    background: #444;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

nav ul li:hover {
    background: #03ADDF;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 25%;
    max-width: 25%;
    border-radius: 50%;
}

h1 {
    text-align: center;
}